@media screen and (max-width: 1200px){
.formulario{
    display: none;
}
}

@media screen and (max-width: 1000px) {
    .carrusel{
        display: none;
    }

}

@media screen and (max-width: 700px){
    table{
        display: none;
    }
}

@media screen and (max-width: 500px){
    header {
        flex-direction: column;
        padding: 10px;
        display: flex;
    }
    .datos{
        margin: 100%;
    }
}/*termina vista movil con sass*/